.flashy{
  color: red;

  font-style: italic;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.best {
  color: purple;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


h3 {
  font-size:small;
  font-family:'Courier New', Courier, monospace;
}
.hhh{
  height: 25vh;
}

img {
  
  width: 200px;
  border: solid rgb(189, 55, 189);
  border-width: 4px;
  margin-bottom: 10px;
}

a {
  color:rgb(189, 55, 189);
  font-family:Georgia, 'Times New Roman', Times, serif;
  float: left;
  width: 100px;
  padding: 10px;
  border-width: 4px;
  margin-bottom: 10px;
  background-color: silver;
}

.hist {
  background-color: blue;
  color: rgb(255, 8, 234);
  height: 50vh;
  text-align: center;
}

.ff {
  background-color: rgb(148, 14, 226);
  color: cyan;
  height: 50vh;
  text-align: center;
  
}

.my-class {
  margin: 20px;
  border: 2px solid green;
  padding: 10px;
  background-color: orange;
}
body {
  background-image: url('/images/cookiemonsta.png');
  background-repeat: no-repeat;
  background-size: cover;

}


