.flashy{
  color: red;

  font-style: italic;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.best {
  color: purple;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
  color: cyan;
  float: left;
}

img {
  
  width: 200px;
  border: solid rgb(0, 0, 0);
  border-width: 4px;
  margin-bottom: 50px;
}