.flashy{
  color: red;
  background-color: rgb(0, 255, 106);
  font-style: italic;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.best {
  color: purple;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


h3 {
  font-size:small;
  font-family:'Courier New', Courier, monospace;
}
.hhh{
  height: 25vh;
}

.cc {
  color: rgb(114, 7, 255);
  background-color: rgb(255, 1, 107);
  padding-right: 111px;
  padding-left: 111px;
  text-align: center;
  height: 25vh;
  font-size: 75px;
}

img {
  
  width: 200px;
  border: solid rgb(114, 1405, 187);
  border-width: 4px;
  margin-bottom: 10px;
}

.buttons {
  color:rgb(189, 55, 189);
  font-family:fantasy;
  font-weight:bolder;
  width: 100px;
  padding: 10px;
  border-width: 4px;
  margin-bottom: 10px;
  background-color: rgb(172, 140, 187);
}

.button2  {
  color:rgb(189, 55, 189);
  font-family:fantasy;
  font-weight:bolder;
  width: 100px;
  padding: 10px;
  border-width: 4px;
  margin-bottom: 10px;
  background-color: rgb(172, 140, 187);
}

.hist {
  background-color: blue;
  color: rgb(255, 8, 234);
  height: 35vh;
  text-align: center;
  padding-top: 55px;
  font-size: 25px;
}

.ff {
  background-color: rgb(148, 14, 226);
  color: cyan;
  height: 40vh;
  text-align: center;
  padding-top: 55px;
  font-size: 25px;
  
}

.my-class {
  margin: 20px;
  border: 2px solid green;
  padding: 10px;
  background-color: orange;
}
body {
  background-image: url('/images/cookiemonsta.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  text-align: center;
  font-size: 55px;
  padding-top: 30px;
}


